<template>
<v-container fluid>
  <v-layout justify-space-around>
    <v-flex xs12>
      <v-card color="secondary"
              class="white--text"
              href="http://festivusweb.com/festivus-book.php"
              target="_blank"
              raised>
        <v-card-title primary-title>
          <div>
            <div class="headline">Photo Credit To</div>
          </div>
        </v-card-title>
        <v-card-actions>
          <v-img src="http://festivusweb.com/images/festivus-the-book-cover.png"></v-img>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>
