<template>
<v-container>
  <v-layout grow
            fill-height
            align-center
            justify-center>

  </v-layout>
</v-container>
</template>

<script>
export default {
  name: 'feats',
}
</script>
