<template>
<v-card v-if="this.grievances.length"
        dark
        class="elevation-12">
  <v-toolbar dark
             color="primary">
    <v-toolbar-title>Greivances</v-toolbar-title>
  </v-toolbar>
  <v-list>
    <template v-for="item in this.grievances">
      <v-list-tile :key="item.id">
        <v-list-tile-action>
          <v-icon>mood_bad</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title v-html="item.grievance"></v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </template>
  </v-list>
</v-card>
</template>

<script type="text/javascript">
export default {
  name: 'GrievanceList',
  props: ['grievances']
}
</script>
